nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #fff;
  padding: 1.5em;
}

nav span {
  font-family: "Bungee", sans-serif !important;
}
