nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #fff;
  padding: 1.5em;
}

@media (max-width: 768px) {
  nav {
    background: #ce9c09;
    background-image: url("../images/billie-holiday.png");
  }
}

nav span {
  font-family: "Bungee", sans-serif;
}

nav div {
  display: flex;
  flex-direction: column;
}

nav button {
  background-color: transparent;
  border: none;
  outline: none;
}

nav button p {
  color: white;
  margin: 5px;
}

/* ANIMATION */
nav .fas {
  margin-top: 0.2em;
  color: crimson;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.22em);
  }
  100% {
    transform: translateY(0);
  }
}

nav button:hover {
  transform: scale(1.1);
}

nav button:hover p {
  font-weight: bolder;
}
