.new-tweet {
  display: hidden;
  flex-direction: column;
}

.new-tweet p {
  margin-bottom: 0.5em;
  border: solid 3px #d00;
  display: none;
}

#tweet-button {
  background: #4056a1;
  color: white;
  font-family: "Bungee", sans-serif;
}

#tweet-text {
  margin: auto auto;
  color: #545149;
  background: transparent;
  border: hidden;
  border-bottom: groove;
  border-bottom-width: 5px;
  border-bottom-color: #545149;
  resize: none;
  width: 600px;
}

#tweet-text:focus {
  outline: none;
}

#tweet-bottom {
  display: flex;
  justify-content: space-between;
}

.red-text {
  color: crimson;
  font-family: "Bungee", sans-serif;
}
